{% for item in pricing %}
{% if item.navbar|slugify == nav.nav|slugify %}
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
        <ul class="pricing">
            <li class="plan-header">
                <div class="price-duration">
                    <span class="price">R {{item.price}}<span class="price-cents">99</span></span>
                    <span class="duration">{{item.payment}}</span>
                    {% if item.name %}
                        <div class="plan-name">{{item.name}}</div>
                    {% elif item.title %}
                        <div class="plan-name">{{item.title}}</div> 
                    {% endif %}
                </div>
            </li>
            <li><strong>1</strong> {{item.item_name}}</li>
            <li><strong>{{item.item_amount}}</strong> {{item.item_quantity}}</li>
            <li><strong>Saving </strong>{{item.saving}}</li>
            <li><strong>24/7</strong> SUPPORT</li>
            <li class="plan-purchase"><a class="btn btn-primary" href="{% url 'pricing_detail_view' item.id %}">Get It Now!</a></li>
        </ul>
    </div>
</div>
{% endif %}
{% endfor %}

