<section id="business-stats">
    <div class="container">
     <div class="section-header">
         <h2 class="section-title wow fadeInDown">{{nav.nav}}</h2>
         <p class="wow fadeInDown">{{nav.details}}</p>
     </div>
    
     
     <div class="row text-center">
        {% for item in counter %}
         <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                 <div class="business-stats" data-digit="{{item.number}}" data-duration="1000"></div>
                 <strong>{{item.name}}</strong>
             </div>
         </div>
        {% endfor %}
     </div>
    </div>
</section><!--/#business-stats-->