<section id="work" class="page space">
  <div class="container text-center">
      <div class="heading">
        <h2>Our Gallery</h2>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, alias enim placeat earum quos ab.</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="portfolio">
            <ul class="filters list-inline">
              <li>
                <a class="active" data-filter="*" href="#">All</a>
              </li>
              {% for filter in filters %}
              <li>
                <a data-filter=".{{filter.name}}" href="#">{{filter.name}}</a>
              </li>
              {% endfor %}
            </ul>
            <ul class="items list-unstyled clearfix animated hiding" data-animation="fadeInRight">
              {% for item in gallery %}
              <li class="item {{item.filter}}">
                 <a href="{{item.photo.url}}" class="fancybox">
                  <img src="{{item.photo.url}}" alt="">
                  <div class="overlay">
                    <span>{{item.alt}}</span>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>       
  </div>
</section>