{% extends "basecopy.html" %}

{% block content %}
<section id="hero-banner">
  <div class="banner-inner" {% if data.header %}style='background-image: url("{{ data.header.url }}")'{% endif %}>
         <div class="container">
             <div class="row">
                 <div class="col-sm-12"> 
                         <h2>{{ data.slug }}</h2>
                         <p>{{ data.motto }}</p>
                         {% if data.button %}
                         <a class="btn btn-primary btn-lg" href="#{{data.destination}}">{{data.button}}</a>
                         {% endif %}
                 </div>
             </div>
         </div>
     </div>
</section><!--/#main-slider-->

{% for nav in navbar %}
<section id="{{nav.category}}" class="page space"
style="{% if nav.background_image %}background-image: url('{{ nav.background_image.url }}')";
{% else %}background-color: {{nav.background}};{% endif %}>
    <div class="container">
     <div class="section-header">
         <h2 class="section-title wow fadeInDown"><span onMouseOver="this.style.color='#0F0'" onMouseOut="this.style.color='#00F'">{{nav.nav}}</span></h2>
         <p class="wow fadeInDown">{{nav.details }}</p>
         
         {% if nav.photo %}
            {% for ia in ia %}
                {% if nav.nav|slugify == ia.navbar|slugify %}
                <div class="over" style="margin-left: auto; margin-right: auto; 
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 80%;">
                    
                    <img class="image" style="  display: block; border-radius: 0px; width: 100%; max-width: 100%;
                    filter: blur(4px) brightness(250%) contrast(180%) grayscale(50%) hue-rotate(180deg) 
                    invert(100%) opacity(50%) saturate(7) sepia(100%)
                    drop-shadow(8px 8px 10px green);" src="{{nav.photo.url}}" alt="">

                    <div class="{{ia.animation}}">
                        <p>{{ia.time}}</p>
                    </div>   
                </div>
                {% endif %}
            {% endfor %}
         {% endif %}

     </div>
    {% if nav.category == "services" or nav.category == "services2" %}
        {% include 'servicescopy.html' %}

    {% elif nav.category == "portfolio" or nav.category == "portfolio2" %}
        {% include 'gallerycopy.html' %}

    {% elif nav.category == "pricing" or nav.category == "pricing2" %}
        {% include 'pricingcopy.html' %}

    {% elif nav.category == "testimonial" or nav.category == "testimonial2" %}
        {% include 'testimonialscopy.html' %}

    {% elif nav.category == "ourteam" or nav.category == "ourteam"%}
        {% include 'ourteamcopy.html' %}

    {% elif nav.category == "contact" or nav.category == "contact2" %}
        {% include 'contactcopy.html' %}

    {% elif nav.category == "counter" or nav.category == "counter2" %}
        {% include 'countercopy.html' %}
    {% endif %}
</div>
</div>
</section>
{% endfor %} 


{% endblock %}