{% extends "base.html" %}

{% block content %}
<section id="hero-banner" {% if data.header %}style='background-image: url("{{ data.header.url }}");'{% endif %}>
  <div class="banner-inner">
         <div class="container">
             <div class="row">
                 <div class="col-sm-12"> 
                         <h2>{{ data.slug }}</h2>
                         <p>{{ data.motto }}</p>
                         {% if data.button %}
                         <a class="btn btn-primary btn-lg" href="#{{data.destination}}">{{data.button}}</a>
                         {% endif %}
                 </div>
             </div>
         </div>
     </div>
</section><!--/#main-slider-->

{% for nav in navbar %}
<section id="{{nav.category}}" class="page space"
style="{% if nav.background_image %}background-image: url('{{ nav.background_image.url }}')
{% else %}background-color: {{nav.background}}{% endif %};">
    <div class="container">
     <div class="section-header">
        {% for text in header %}
         <h2 class="section-title wow fadeInDown">
            <span style="color: {{text.header_color}}" onMouseOver="this.style.color='{{text.header_hover_color}}'" 
            onMouseOut="this.style.color='{{text.header_color}}'">{{nav.nav}}</span></h2>
         <p class="wow fadeInDown">
            <span onMouseOver="this.style.color='{{text.text_hover_color}}'" 
            onMouseOut="this.style.color='{{text.text_color}}'">{{nav.details }}</span></p>
        {% endfor %}
         
         {% if nav.photo %}
            {% for ia in ia %}
                {% if nav.nav|slugify == ia.navbar|slugify %}
                <div class="over" style="margin-left: auto; margin-right: auto; 
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 80%;">
                    
                    <img class="image" style="  display: block; border-radius: 0px; width: 100%; max-width: 100%;
                    filter: blur(4px) brightness(250%) contrast(180%) grayscale(50%) hue-rotate(180deg) 
                    invert(100%) opacity(50%) saturate(7) sepia(100%)
                    drop-shadow(8px 8px 10px green);" src="{{nav.photo.url}}" alt="">

                    <div class="{{ia.animation}}">
                        <p>{{ia.time}}</p>
                    </div>   
                </div>
                {% endif %}
            {% endfor %}
         {% endif %}

     </div>
    {% if nav.category == "services" %}
        {% include 'navbar/services.html' %}

    {% elif nav.category == "portfolio" %}
        {% include 'navbar/gallery.html' %}

    {% elif nav.category == "pricing" %}
        {% include 'navbar/pricing.html' %}

    {% elif nav.category == "testimonial" %}
        {% include 'navbar/testimonials.html' %}

    {% elif nav.category == "ourteam" %}
        {% include 'navbar/ourteam.html' %}

    {% elif nav.category == "contact" %}
        {% include 'navbar/contact.html' %}

    {% elif nav.category == "counter" %}
        {% include 'navbar/counter.html' %}
    {% endif %}
</div>
</div>
</section>
{% endfor %} 


{% endblock %}